* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

.school-table {
  border-collapse: collapse;
  
  .left {
    text-align: left;
  }

  .right {
    text-align: right;
  }

  td {
    border-bottom: 1px solid #EEE;
  }

  td, th {
    padding: 5px 10px;
  }
}
