* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
}

.school-table {
  width: 600px;
  border-collapse: collapse;

  .city {
    width: 73px;
  }
  .zip {
    width: 53px;
  }
  .percent {
    width: 90px;
  }
  .total {
    width: 41px;
  }
  .personal {
    width: 60px;
  }
  .medical {
    width: 54px;
  }
  .religious {
    width: 56px;
  }
  
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }

  td, th {
    padding: 3px 5px;
  }
  td {
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
  }
}
