<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <%= t.include("partials/_adHead.html") %>
  </head>

  <body ng-app="school-immunization">
    <div ng-controller="SchoolController">
      <div class="search">
        Search by:<br>
        <select name="select" ng-change="search()" ng-model="searchField">
          <option value="name" selected>School Name</option> 
          <option value="city">City</option>
          <option value="zip">Zip Code</option>
        </select>
        <input type="text" ng-change="search()" ng-model="searchText">

        <div class="key-box">
          <div class="public key"></div> = Public <div class="private key"></div> = Private <span class="violation-key"><i class="fa fa-exclamation-circle"></i></span> = Violation
        </div>
      </div>

      <table class="school-table">
        <thead>
          <tr>
            <th class="left name">School Name
            <th class="left city">City
            <th class="left zip">Zip
            <th class="right percent">Exempt (%)
            <th class="right total">Total
            <th class="right personal">Personal
            <th class="right medical">Medical
            <th class="right religious">Religious

        <tbody>
          <tr ng-show="found.length == 0">
            <td colspan=100><em>No results found</em>
          <tr ng-repeat="row in found" class="row" ng-class="{'public': row.type == 'Public School', 'private': row.type == 'Private School'}">
            <td class="left">{{row.name}} <span class="violation" ng-hover="" ng-show="row.percent == '-'"><i class="fa fa-exclamation-circle"></i></span>
            <td class="left">{{row.city}}
            <td class="left">{{row.zip}}
            <td class="right">{{row.percent}}
            <td class="right">{{row.total}}
            <td class="right">{{row.personal}}
            <td class="right">{{row.medical}}
            <td class="right">{{row.religious}}
      </table>

      <div class="credit">Interactive by Audrey Carlsen / The Seattle Times</div>
    </div>

    <script>var schoolData = <%= JSON.stringify( csv.school_data ) %>;</script>
    <script src="app.js"></script>
    <%= json.project.production ? t.include("partials/_adFoot.html") : "" %>
    <%= json.project.production ? t.include("partials/_workHere.html") : "" %>
  </body>
</html>
